/*Modifit la police*/
@font-face {
    font-family: 'Raleway';
    src: url(Raleway-Regular.ttf);
}

body{
    font-family: 'Raleway';
}

/*début du header*/
/*Première barre de navigation*/
#navigationRapide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1330px;
    height: 90px;
    margin-left: 45px;
}

#logo{
    width: 95px;
}

#lien{
    width: 270px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lienHebergement{
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
    border-top: 3px #0065FC solid;
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
}

#lienAct{
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 992px){
    #navigationRapide{
        width: 880px;
    }
}

/*Texte entre les deux nav*/
#premierTitre{
    margin-top: 20px;
    margin-left: 45px;
    width: 1330px;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0;
}

#phrase{
    margin-left: 45px;
    margin-top: 10px;
    width: 1330px;
}

/*Deuxième barre de navigation*/
#formulair{
    display: flex;
    margin-left: 45px;
    width: 1330px;
}

#iconeMaps{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background-color: #F2F2F2;
    border-radius: 17px 0px 0px 17px;
}

#BSearch{
    width: 230px;
    height: 50px;
    font-weight: bold;
    border: 1px solid #F2F2F2;
}

#BSearch::placeholder{
    color: black;
    font-size: 1.3em;
}

#search{
    background-color: #0065FC;
    border: none;
    width: 130px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border-radius: 0px 15px 15px 0px;
}

/*troisième barre de navigation*/
/*Ensemble de la navigation*/
#navBoutons{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 45px;
    width: 900px;
}

@media screen and (max-width: 992px){
    #navBoutons{
        width: 880px;
    }
}

#flitres{
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
    width: 50px;
}
/*Les filtres sont mis à la suite, id finit par L si Logo et par B si Bouton*/
/*Rassemble le logo et le filtre Economique*/
#Eco{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #D9D9D9 solid;
    border-left: none;
    border-radius: 50px;
    height: 47px;
}

#ecoL{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #0065FC;
}

#ecoB{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 135px;
    height: 44px;
}

/*Rassemble le logo et le filtre Familial*/
#Fami{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #D9D9D9 solid;
    border-left: none;
    border-radius: 50px;
    height: 47px;
}

#famiL{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #0065FC;
}

#famiB{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 80px;
    height: 44px;
}

/*Rassemble le logo et le filtre Romantique*/
#Romanti{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #D9D9D9 solid;
    border-left: none;
    border-radius: 50px;
    height: 47px;
}

#romantiL{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #0065FC;
}

#romantiB{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 120px;
    height: 44px;
}

/*Rassemble le logo et le filtre Animaux autorisés*/
#Anim{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #D9D9D9 solid;
    border-left: none;
    border-radius: 50px;
    height: 47px;
}

#animL{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #0065FC;
}

#animB{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 170px;
    height: 44px;
}

/*barre d'info*/
#info{
    display: flex;
    align-items: center;
    padding-left: 55px;
    padding-top: 37px;
}
/* mis en commentaire pour l'instant car bug
#infoL{
}

#infoP{
}
*/

/*Fin du Header*/
/*Début du main*/

/*Commun au main*/
.titreSection{
    display: flex;
    justify-content: space-between;
    height: 30px;
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 40px;
}

.etoile{
    display: flex;
    font-size: 0.7em;
    color: #0065FC;
}

.textDecorationNone{
    text-decoration: none;
    color: black;
}

/*Rassemble Section Hébergement et Aside Les Plus populaires*/
#principal{
    display: flex;
    margin-left: 45px;
    width: 1330px;
}

@media screen and (max-width: 992px){
    #principal{
        display: block;
    }
}

/*Section Hébergement*/

#hebergement{
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    margin-top: 37px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 17px 17px 17px 17px;
    width: 880px;
    height: 625px;
}

#tousHebergement{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.conteneurHebergement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 25px;
    border-radius: 17px 17px 17px 17px;
    box-shadow: 1px 1px 5px #ebebeb;
}

.imgHebergement{
    width: 230px;
    height: 115px;
    border-radius: 17px 17px 0px 0px;
}

.infoHebergement{
    align-items: start;
    width: 215px;
}

.nomHebergement{
    display: flex;
    align-items: center;
    height: 25px;
    font-size: 0.8em;
}

.prixHebergement{
    display: flex;
    align-items: center;
    height: 25px;
    font-size: 0.8em;
}

#afficherPlus{
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}


/*Fin Section Hébergements*/
/*Début Aside Les Plus Populaires*/

#populaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    margin-top: 37px;
    width: 420px;
    height: 625px;
    border-radius: 17px 17px 17px 17px;

}

@media screen and (max-width: 992px){
    #populaire{
        justify-content: flex-start;
        align-items: flex-start;
        width: 880px;
        height: 300px;
    }
    #tousPopulaire{
        display: flex;
        flex-direction: row;
        width: 880px;
        height: 750;
    }
    #titrePop{
        width: ;
    }

}

#titrePop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 80px;
}

#titrePopu{
    font-size: 1.4em;
    font-weight: bold;
}

.conteneurPopulaire{
    display: flex;
    width: 340px;
    height: 145px;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 17px 17px 17px 17px;
    box-shadow: 1px 1px 5px #ebebeb;
}

.imgPopulaire{
    width: 130px;
    height: 132px;
    border-radius: 17px 0px 0px 17px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 20px;
}

.infoPopulaire{
    display: flex;
    flex-direction: column;
    height: 130px;
}

.nomPopulaire{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    width: 130px;
    height: 40px;
    margin-top: 12px;
}

.prixPopulaire{
    display: flex;
    align-items: center;
    height: 25px;
    font-size: 0.8em;
    margin-bottom: 40px;
}

/*Fin aside Les Plus populaires*/
/*Début Section Activités à Marseille*/

/*Commun à toutes les activités*/
#activite{
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    width: 1330px;
}

.nomActivite{
    display: flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 15px;
    height: 50px;
}

#tousActivite{
    display: flex;
}

#titreActivite{
    font-size: 1.4em;
    margin-top: 40px;
    margin-bottom: 20px;
}

/*activitéXL*/
.conteneurActiviteXL{
    display: flex;
    flex-direction: column;
    border-radius: 17px 17px 17px 17px;
    margin-right: 40px;
    box-shadow: 1px 1px 5px #ebebeb;
}

.imgActiviteXL{
    width: 300px;
    height: 380px;
    border-radius: 17px 17px 0px 0px;
}

/*colonne L et XS*/
#colonne1{
    margin-right: 30px;
}

#conteneurActiviteL{
    border-radius: 17px 17px 17px 17px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 5px #ebebeb;
}

#imgActiviteL{
    width: 300px;
    height: 180px;
    border-radius: 17px 17px 0px 0px;
}

#conteneurActiviteXS{
    border-radius: 17px 17px 17px 17px;
    box-shadow: 1px 1px 5px #ebebeb;
}

#imgActiviteXS{
    width: 300px;
    height: 106px;
    border-radius: 17px 17px 0px 0px;
}

/*colonne S et M*/

#conteneurActiviteS{
    border-radius: 17px 17px 17px 17px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 5px #ebebeb;
}

#imgActiviteS{
    width: 300px;
    height: 130px;
    border-radius: 17px 17px 0px 0px;
}

#conteneurActiviteM{
    border-radius: 17px 17px 17px 17px;
    box-shadow: 1px 1px 5px #ebebeb;
}

#imgActiviteM{
    width: 300px;
    height: 155px;
    border-radius: 17px 17px 0px 0px;
}

/*Fin Section Activités à Marseille*/
/*Fin Main*/
/*Début Footer*/

footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-right: 100px;
    height: 220px;
    width: 1430px;
}

#aPropos{
    margin-left: 45px;
    margin-top: 30px;
    font-size: 1em;
}

#aProposT{
    margin-bottom: 30px;
}

#nosHebergement{
    margin-top: 30px;
    font-size: 1em;
    margin-right: 50px;
}

#nosHebergementT{
    margin-bottom: 30px;
}

#assistance{
    margin-right: 350px;
    margin-top: 30px;
    font-size: 1em;
}

#assistanceT{
    margin-bottom: 30px;
}